{% extends 'base.html' %}  

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Indique su N.I.P. y contraseña administrativa</h2>
            <div class="card shadow-sm p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nip" class="form-label">NIP</label>
                        <input type="text" class="form-control" id="nip" name="nip" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña Administrativa</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Acceder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
